.table td, .table th {
    font-size: 17px;
    vertical-align: inherit !important;
    text-align:center !important;
}
table.dataTable thead .sorting:after {
     content: "\2193" !important;
}
.alert-default-danger{
    background-color :transparent !important;
    color: #e60a1e !important;
}
.alert-default-success {
    background-color: transparent !important;
    color: #83961c !important;
}
.brand-link .brand-image{
    float: none !important;
    max-height:none !important;
    width: 13px !important;
}
.elevation-3{
    box-shadow:none !important;
}